/* reset */
*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    cursor:pointer;
    color:#000000;
    text-decoration: none;
}
a:visited{
    color: #000000;
}
span{
    color: #5a5a5a;
}
img {
    border: none;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input,textarea {
    outline: none;
}
textarea {
    resize: none;
    overflow: auto;
}
body {
    background-color: #fff;
    font-size: 12px;
    font-family: "微软雅黑";
    min-width: 1226px;
}
/* end reset */
.header-img{
    width: 100%;
    height: 120px;
    display:block;
    background: url("../img/images/header-img.jpeg")no-repeat;
    background-position: 50%;
    background-size:cover;

}
.header-nav{
    width: 100%;
    display:block;
    background: #333;
}
.header-nav a{
    color: #b0b0b0;
}
.head-nav span{
    color: #424242;
}
.nav-middle{
    width: 1226px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    zoom: 1;
}
.nav-middle:after{
    content: '';
    display: block;
    clear: both;
}
.nav-middle a:hover{
    color: #fff;
}
.nav-left{
    float: left;
}
.nav-left span{
    margin: 3px;
}
.nav-right{
    width: 120px;
    height: 40px;
    float: right;
}
.nav-right a{
    display: inline-block;
    height: 40px;
    text-align: center;
}
.nav-right span{
    color: #b0b0b0;
}
.nav-right img{
    margin-top:10px;
    height: 18px;
}
.nav-message{
    float: right;
    margin-right: 15px;
}
.header-select{
    width: 100%;
}
.select-middle{
    width: 1226px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    zoom: 1;
}
.select-middle:after{
    content: '';
    display: block;
    clear: both;
}

.select-logo{
    float: left;
    margin-top: 22px;
}
.select-logo a{
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    background-image: url("../img/icon/mi-home.png");
    background-repeat:  no-repeat;
    background-position: 50%;
    background-size:40px;
}
.select-nav{
    float: left;
}
.select-nav ul{
    width: 700px;
    height: 88px;
    margin-left:150px;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.select-nav li {
    float: left;
}
.select-nav a{
    display: inline-block;
    padding: 26px 10px 38px;
    color: #000000;
}
.select-nav a:hover{
    color: #ff6700;
}
.select-search{
    float: right;
    margin-top: 25px;
}
.select-search input{
    height: 50px;
    border: 1px solid #e0e0e0;
}
.search{
    width: 196px;
    padding: 0 10px;
    font-size: 14px;
    border-width: 1px 0 1px 1px;
}
.sumbit{
    float: right;
    background: url("../img/icon/search.png")no-repeat;
    background-position: 50%;
    background-size: 24px;
    width: 50px;
    cursor:pointer;
    }
.foot{
    width: 100%;
}
.footer{
    width: 1226px;
    height: 330px;
    margin-right: auto;
    margin-left: auto;
}
.footer .list{
    padding: 28px 0;
    border-bottom:1px solid #e0e0e0;

}
.list img{
    width:24px;
}
.footer ul{
    height: 25px;
    display: block;
    zoom: 1;
}
.footer ul:after{
    content: '';
    display: block;
    clear: both;
}
.footer li{
    float: left;
    width: 19.8%;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.footer li:first-child{
    border-left:none;
}
.footer a{
    color: #757575;;
}
.footer a:hover{
    color: #ff6700;
}

.footer-links{
    padding: 40px 0;
}
.footer-links dl{
    float: left;
    width: 160px;
}
.footer-links dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footer-links dd{
    margin: 10px 0 0;
}
.contact{
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.mode p:nth-of-type(1){
    color: #ff6700;
    font-size: 24px;
}
.mode a{
    display: inline-block;
    width: 120px;
    height:30px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    margin: 10px auto;
    line-height: 30px;
}
.mode img{
    margin: 7px 5px;
    width: 16px;
}
.follow{
    float: right;
    width: 251px;
    text-align: center;
    color: #616161;
}
.follow img{
    width: 24px;
    height: 24px;
}
.follow a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
}
.info-contains{
    width: 100%;
    padding-top: 40px;
    background-color: #fafafa;
    overflow: auto;
}
.info{
    height: 190px;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.One{
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url("../img/icon/mi.png") no-repeat;
}
.two{
    float: left;
}
.twop a{
    line-height: 18px;
    color: #616161;
    margin:0 2px;
}

.two p:nth-last-of-type(1) span{
    color: #9f9f9f;
}
.two p:nth-last-of-type(1) a{
    color: #9f9f9f;
}
.three a{
    display: inline-block;
    margin: 20px 2px;
}
.three img{
    height: 30px;
}
.three a:nth-last-of-type(1) img{
    height: 40px;
}
.slogan{
    margin: 0 auto 40px;
    width: 100%;
    height: 19px;
    background: url("../img/icon/slogan2020.png") no-repeat center 0;
}

.home-hero-contains{
    width: 100%;
    margin-bottom: 26px;
}
.home-hero{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.home-hero-top{
    position: relative;
}
.top-left{
    width: 234px;
    position: absolute;
}
.top-left ul{
    background: rgba(105,101,101,0.6);
    padding: 20px 0;
}
.top-left a{
    color: #fff;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}
.top-left em{
    display: inline-block;
    margin:12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px;
    background: url("../img/icon/right.png")no-repeat;
    background-size: 16px;
    float: right;
}
.top-right{
    height: 460px;
}
.CarouselImg{
    width: 100%;
    height: 100%;
    background: url("../img/Carousel/c1.jpg")no-repeat;
    background-size: 100%;
}
.CarouselList{
    position: absolute;
    top: 430px;
    right: 30px;
}
.CarouselList a{
    display: inline-block;
    margin: 0 4px;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-color: hsla(0,0%,100%,0.3);
    border-radius: 6px;
    overflow: hidden;
    background: rgba(0,0,0,.4);
    opacity: 1;
}
.CarouselLeft{
    background: url("../img/icon/icon-slides.png") no-repeat;
    background-position:-84px 50%;
    position: absolute;
    left: 234px;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    cursor: pointer;
}
.CarouselRight{
    background: url("../img/icon/icon-slides.png") no-repeat;
    background-position:-125px 50%;
    right: 0;
    position: absolute;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    cursor: pointer;
}
.home-hero-bottom{
    margin-top: 14px;
    width: 100%;
    zoom: 1;
}
.home-hero-bottom:after{
    content: '';
    clear: both;
    display: block;
}
.bottom-left{
    float: left;
}
.bottom-left table{
    background-color: #5f5750;
}
.bottom-left td{
    width: 73px;
    height: 80px;
    padding: 2px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgba(168, 168, 168, 0.22);
}
.bottom-left a{
    display: block;
    color: #ffffff;
    opacity: 0.7;
}
.bottom-left img{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}
.bottom-right{
    display: inline-block;
    float: right;
}
.bottom-right li{
    float: left;
}
.bottom-right img{
    margin-left: 14px;
    display: block;
    width: 316px;
    height: 170px;
}
.icon-main-contains{
    width: 100%;
    margin-bottom: 12px;
    background-color:#fafafa;
}
.icon-main{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid yellow;

}
.instantPurchaseOfmi{
    position: relative;
}
h2{
    display: inline-block;
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.arrow{
    position: absolute;
    top: 24px;
    right: 0;
    zoom: 1;
}
.arrow:after{
    content: '';
    display: block;
    clear: both;
}
.left{
    width: 36px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-right: none;
    background: url("../img/icon/left.png")no-repeat;
    background-position: 50%;
    background-size: 24px;
    float: left;
}
.right{
    width: 36px;
    height: 24px;
    border: 1px solid #e0e0e0;
    background: url("../img/icon/right.png")no-repeat;
    background-position: 50%;
    background-size: 24px;
    float: left;
}
.countDown{
    display: inline-block;
    border-top-color: #e53935;
    width: 234px;
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;
    zoom: 1;
}
.countDown:after{
    content: '';
    display: block;
    clear: both;
}
.countDown .round{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.countDown img{
    margin: 25px auto;
}
.countDown .desc{
    color: rgba(0,0,0,.54);
    font-size: 15px;
}
.countDown .clear{
    width: 168px;
    margin: 28px auto 0;
}
.countDown .clear span{
    float: left;
    height: 46px;
    line-height: 46px;
}
.countDown .clear span:nth-of-type(odd){
    background: #605751;
    width: 46px;
    font-size: 24px;
    color: #ffffff;
}
.countDown .clear span:nth-of-type(even){
    color: #605751;
    width: 15px;
    font-size: 28px;
}
.seamless{
    display: inline-block;
    width: 978px;
    height: 340px;
    float: right;
    border: 1px solid green;
    margin: 0 auto;
}
/*

无缝滚动样式

*/

.bottom{
    height: 120px;
    margin: 22px 0;
}
.images{
    width: 1226px;
}
.phone, .video{
    position: relative;
}
.phone a,.video a {
    font-size: 16px;
    color: #424242;
}
.circleLeft{
    width: 20px;
    padding: 0 4px;
}
.phoneTop{
    zoom: 1;
}
.phoneTop:after{
    content: '';
    display: block;
    clear: both;
}
.phoneLeft{
    display: inline-block;
    float: left;
    width: 234px;
    height: 628px;
    background: url("../img/images/miMIX.jpg")no-repeat;
    background-size: 234px;
}
.phoneRight{
    display: inline-block;
    margin-left: 14px;
}
























